<div class="topnav">
    <!-- <a class="active" href="#home">Home</a>
    <a href="#news">News</a>
    <a href="#contact">Contact</a>
    <a href="#about">About</a> -->
    <a href="news" routerLink="">News Search & Bookmark</a>
    <div class="topnav-right">
      <a href="#topnews">Top News</a>
      <a href="#bookmarks">Bookmarks</a>
  
      <!-- Rounded switch for Dark Theme -->
      <label class="switch">
        <input type="checkbox">
        <span class="slider round"></span>
      </label>
    </div>
  </div>
  <router-outlet></router-outlet>