<!-- Search bar -->
<div class="container">
    <form [formGroup]="searchForm" (ngSubmit)="OnSubmit()">
        <select class="select" formControlName="country">
            <option [ngValue]="null" disabled>Select Country</option>
            <option *ngFor="let country of countries" [ngValue]="country.id">{{ country.name }}</option>
        </select>

        <select class="select" formControlName="category">
            <option [ngValue]="null" disabled>Select Category</option>
            <option *ngFor="let category of categories" [ngValue]="category.id">{{ category.name }}</option>
        </select>

        <input class="input" formControlName="keyword" type="text" placeholder="Keyword..">

        <button class="submit" type="submit">Search</button>
    </form>
</div>

<!-- News will be displayed here -->
<div>
    <p class="resultsCount">You have {{ (totalResultsInDom)?.length }} search results</p>
</div>
<div class="grid-container">
    <div #totalResults *ngFor="let n of news | keyword:keyword" class="grid-item">
        <img class="image" src="{{ n.urlToImage }}">
        <h2 class="title">{{ n.title }}</h2>
        <p class="source">{{ n.source.name }}</p>
        <p class="date">Published: {{ n.publishedAt | slice:0:10 }}</p>
        <p class="content">{{ n.content | slice:0:200}}</p>
        <a href="{{ n.url }}" class="itemButton">Go to page</a>
    </div>
</div>