<!-- Search bar -->
<div class="container">
    <form [formGroup]="searchForm" (ngSubmit)="OnSubmit()">
        <p>
            <select formControlName="country">
                <option [ngValue]="null" disabled>Select Country</option>
                <option *ngFor="let country of countries" [ngValue]="country.id">{{ country.name }}</option>
            </select>

            <select formControlName="category">
                <option [ngValue]="null" disabled>Select Category</option>
                <option *ngFor="let category of categories" [ngValue]="category.id">{{ category.name }}</option>
            </select>
    
            <button type="submit">Submit</button>
        </p>
    </form>
</div>

<!-- News will be displayed here -->
<div class="grid-container">
    <div *ngFor="let n of newsheadlinesDisplay" class="grid-item">
        <img src="{{ n.urlToImage }}" alt="" width="100%">
        <h5>{{ n.title }}</h5>
        <p>{{ n.author}}</p>
        <p>{{ n.publishedAt }}</p>
        <p>{{ n.content }}</p>
        <a href="{{ n.url }}" class="button button2">Go to page</a>
    </div>
</div>